/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==HELPING COLORS==*/

/*.profile-card {
  /*blue*/
  background-color: rgba(134, 133, 223, 0.6);
}*/

/*.head {
  /*purple*/
  background-color: rgba(207, 122, 207, 0.6);
}*/

.profile-image {
  /*red*/
  background-color: rgba(239, 141, 145, 0.6);
}

/*.name-headline {
  /*yellow*/
  background-color: rgba(239, 236, 134, 0.6);
}*/

/*.content {
  /*green*/
  background-color: rgba(143, 228, 145, 0.6);
}*/

/*.about{
    /*red*/
  background-color: rgba(239, 141, 145, 0.6);
}*/

.links {
  /*grey*/
 /* background-color: rgba(83, 85, 87, 0.6);*/
}

/*==BASIC LAYOUT==*/

* {
  box-sizing: border-box;
}


.profile-card {
  width: 100vw;
  height: calc(100vh - 20px);
  /*margin: auto;*/
  position: relative;
  
}

/*header*/

.head {
  height: 28vh;
  width: 100vw;
  position: absolute;
  top:0;
  
  
 }

.name-headline {
height: 86%;
width: 75%;
position: absolute;
top: 2vh;
left: 0;
margin-left: 2.5vw;
}

.profile-image {
  height: 86%;
  width: 42.66%;
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  }

img {
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: 2;
}

/*content*/

.content {
  position: absolute;
  top:28vh;
  width: 95%;
  margin-left: 2.5vw;
  height: 65vh;
}

.about {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
}

.links {
  position: absolute;
  top:60%;
  width: 100%;
  height:auto; 
}

/*.contact-icon {
  position: relative;
  top: -3vh;
}*/


/*==BASIC STYLES==*/

/*background*/

.profile-card {
  color:rgb(25,25,25);
  background: url(assets/background-8.jpg) no-repeat center;
  background-size: cover;
}

.name-headline {
  background-color: rgba(255,255,255,.3);
}

.name-headline {
  border-radius: 0.125rem 0 0 0.125rem;
}

.about {
  background-color: rgba(255,255,255,.3);
  border-radius: 0.125rem;
}

/*font*/

.name-headline {
  padding: 1rem;
  padding-right: 0rem;
  text-align: justify;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
  
}

h1 {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

h2 {
  font-size: 1.08rem;
}

#first-h2 {
  margin-bottom: .8rem;
}

p, span {
  font-family: 'Montserrat', sans-serif;
}

span {
  font-size: .9rem;
  display: inline-block;
  margin-bottom: 0.5rem; 
}

.fa-map-marker {
  font-size: 1.2rem !important;
  color: rgb(25,25,25);
}

p {
  font-size: 1rem;
}


.about {
  padding: 1.2rem;
  line-height: 1.3rem;
  font-size: 2.5vh;
  text-align: justify;
}

em {
  font-style: italic;
}

.links {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5vh;
  padding:.8rem; 
}

#contact-me {
  color: rgba(255,255,255,.7);
  margin-bottom: .4rem;
}

li {
  display: inline;
  padding: 0.2rem;
}

/*==HOVER EFFECFTS==*/

/*profile image*/

img {
  transition-duration: 1.5s;
  
}

img:hover {
  filter: contrast(150%);
}

/*CodeBerry link*/

a {
  text-decoration: none
}

a:link, a:visited {
  color: rgb(25,25,25);
}

a:hover {
  font-weight: bold;
  color:rgb(25,50,80);
}

/*icons*/

.fa-twitter-square, .fa-behance-square, .fa-instagram {
  color: rgba(255,255,255,.7);
}

.fa-twitter-square:hover, .fa-behance-square:hover, .fa-instagram:hover {
  color: rgba(255,255,255,1);
  transform: scale(1.1);
}

/*==SCREEN ADJUSTEMENT==*/

@media (max-width: 280px) {
  .profile-image {
    height: 60%;
    top: 5vh;
  }
  
  .name-headline {
    height: 60%;
    top: 5vh;
  }
  
  h1 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  
  h1 {
    font-size: 1.3rem;
  }
  
  h2 {
    font-size: .9rem;
  }
  
  #first-h2 {
  margin-bottom: .8rem;
  }
  
  span {
    display: inline-block;
    margin-bottom: 0.4rem;
    font-size: .7rem;
  }
  
  p {
    font-size: .8rem;
  }
  
  .about {
    line-height: 1.1rem;
  }
}
  
  
  @media (max-width: 320px) and (min-height: 653px) {
    h1 {
      margin-bottom: .5rem;
    }
    
    #first-h2 {
      margin-bottom: .5rem;
    }
    
    span {
      font-size: .8rem;
    }
    .about {
    font-size: .9rem;
    line-height: 1rem;
    }
  }

@media (min-width: 375px) and (min-height: 812px){
  .name-headline {
    width: 70%;
    padding-right: 21%;
    text-align: left;
    }
  h1 {
    font-size: 1.4rem;
  } 
  
  h2 {
    font-size: 1.3rem;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .about {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}


@media (min-width: 768px) {
  .name-headline {
    width: 80%;
    padding: 2rem;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  .about{
    width: 75%;
    height: auto;
    left: 0;
    font-size: 1.7rem;
    line-height: 2.3rem;
  }
  
  .links {
    width: 25%;
    right: 0;
    top: 0;
  }
  
  li {
    display: block;
    padding-bottom: 1rem;
  }
  
  #contact-me {
    padding-bottom: 1rem;
    color: rgb(25,25,25);
  }
  
  .fa-twitter-square {
    color: rgba(25,25,25,.7);
  }
  
  .fa-twitter-square:hover {
    color: rgba(25,25,25,1);
  }
}

@media (min-width: 1025px){
  .name-headline {
   width: 35%;
   height: 24.08vh;
   left: 13.5%;
   padding: 1rem;
  } 
  
  /*name-headline font*/
  
  h1 {
    font-size: 2.5rem;
    
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  #first-h2 {
    margin-bottom: .2rem;
    
  }
  
  p {
    font-size: 1.5rem;
}
  
  .profile-image {
    width: 24.08vh;
    right:43%;
      }
  
  .links {
    background-color: rgba(255,255,255,.3);
    border-radius: (0 0.125 0.125 0);
    top: -26vh;
    right: 13.5%;
    width: 35%;
    height: 24.08vh;
    padding: 1rem;
    
  }
  
  #contact-me {
    margin-top: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color:rgb(25,25,25);
  }
  
  /*contact icons*/
  
  li {
    display: inline;
  }
  
  .fa-twitter-square, .fa-behance-square, .fa-instagram {
  color: rgba(25,25,25,.7);
}

.fa-twitter-square:hover, .fa-behance-square:hover, .fa-instagram:hover {
  color: rgba(25,25,25,1);
  transform: scale(1.1);
}
  
  .about{
    width: 72.7%;
    left: 14%;
    font-size: 1.5rem;
    
  }
}

