/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==HELPING COLORS==*/

.profile-card {
  /*blue*/
  background-color: rgba(134, 133, 223, 0.6);
}

.head {
  /*purple*/
  background-color: rgba(207, 122, 207, 0.6);
}

.profile-image {
  /*red*/
  background-color: rgba(239, 141, 145, 0.6);
}

.name-headline {
  /*yellow*/
  background-color: rgba(239, 236, 134, 0.6);
}

/*.content {
  /*green*/
  background-color: rgba(143, 228, 145, 0.6);
}*/

.about{
    /*red*/
  background-color: rgba(239, 141, 145, 0.6);
}

/*.links {
  /*grey*/
  background-color: rgba(83, 85, 87, 0.6);*/
}

/*==BASIC LAYOUT==*/

* {
  box-sizing: border-box;
}


.profile-card {
  width: 100%;
  height: calc(100vh - 20px);
  margin: auto;
  position: relative;
  
}

/*header*/

.head {
  height: 30vh;
  width: 95%;
  position: absolute;
  top:0;
  
  
 }

.name-headline {
height: 17vh;
width: 68vw;
position: absolute;
top: 2vh;
left: 0;
margin-left: 2.5vw;
z-index: 1;
}

img {
  width: 40vw;
  position: absolute;
  right: -2.5vw;
  top: 2vh;
  border-radius: 50%;
  z-index: 2;
}

/*content*/

.content {
  position: absolute;
  top:30vh;
  width: 95%;
  margin-left: 2.5vw;
  height: 65vh;
}

.about {
  position: absolute;
  top: 0;
  height: auto;
}

.links {
  position: absolute;
  bottom: 11vh;
  width: 100%;
  height:auto; 
}

.contact-icon {
  position: relative;
  top: -3.5vh;
}


/*==BASIC STYLES==*/

/*background*/

.profile-card {
  color:rgb(25,25,25);
  background: url(assets/background-8.jpg) no-repeat center;
  background-size: cover;
}

.name-headline {
  /*background-color: rgba(255,255,255,.3);
  border-radius: 0.125rem;*/
}

.about {
  padding: 1.2rem;
  line-height: 1.2rem;
  text-align: justify;
  background-color: rgba(255,255,255,.3);
  border-radius: 0.125rem;
}

/*font*/

h1, h2 {
  font-family: 'Nunito', sans-serif;
  
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

p, span {
  font-family: 'Montserrat', sans-serif;
}

span {
  font-size: 0.9rem
}

.name-headline {
  padding: 1.2rem;
}

.about {
  padding: 1.2rem;
  line-height: 1.2rem;
  text-align: justify;
}



.links {
  text-align: center;
  text-transform: uppercase;
  padding:.8rem; 
}

.contact-me {
  color: rgba(255,255,255,.7)
}

li {
  display: inline;
  padding: 0.2rem;
}

/*==HOVER EFFECFTS==*/

/*profile image*/

img {
  transition-duration: 1.5s;
  
}

img:hover {
  filter: contrast(150%);
}

/*CodeBerry link*/

a {
  text-decoration: none
}

a:link, a:visited {
  color: rgb(25,25,25);
}

a:hover {
  font-weight: bold;
  color:rgb(25,50,80);
}

/*icons*/

.fa-twitter-square, .fa-behance-square, .fa-instagram {
  color: rgba(255,255,255,.7);
}

.fa-twitter-square:hover, .fa-behance-square:hover, .fa-instagram:hover {
  color: rgba(255,255,255,1);
  transform: scale(1.1);
}

/*==SCREEN ADJUSTEMENT==*/

@media (min-height: 731px) and (min-width: 411px) {
  .head {
    height: 28vh;

    }
  
  .content {
    top: 28vh;
  }
  
  img {
    width: 39vw;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
  span {
    display: inline-block;
    margin-bottom: 0.4rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .about {
    line-height: 1.5rem;
  }
  
  .links {
    bottom: 10vh;
  }
  .contact-icon {
  position: relative;
  top: -2vh;
  }
}

@media (min-height: 823px)and (min-width: 411px) {
  .head {
    height: 27vh;
  }
  
  .content {
    top: 27vh;
  }
  img {
    width: 39vw;
  }
  
  .name-headline {
    padding: .8rem;
  }
  
    h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1.4rem;
    
    margin-bottom: 1.3rem;
  }
  
  span {
    display: inline-block;
    margin-bottom: 0.4rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  .about {
    padding: .7rem;
    line-height: 1.7rem;
  }
  
  .links {
    bottom: 8vh;
  }
  .contact-icon {
  position: relative;
  top: -2vh;
  }
}

@media (max-width: 320px) {
  .head {
    height: 28vh;
  }
  
  .content {
    top: 28vh;
  }
  img {
    width: 41vw;
  }
  
  .name-headline {
    width: 60vw;
  }
  
  h1 {
    font-size: 1.3rem;
  }
  
  h2 {
    font-size: .95rem;
    margin-bottom: 1rem;
  }
  
  span {
    font-size: .8rem;
  }
}